/* Reset estilos navegador */
body {
  margin: 0;
  padding: 0;
  background: radial-gradient(rgb(247, 247, 247), rgb(225, 225, 225));
}

/* Titulo */
.title {
  margin: 30px;
  padding: 5px;
  background: rgb(76, 0, 138);
  border: 5px solid #000;
  border-radius: 10px;
  text-align: center;
  font-family: fantasy;
  color: rgb(242, 242, 242);
  box-shadow: 0 0 20px 0 #000;
  text-shadow: -3px 0 0 #000;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

/* Caja flexible */
.dice {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Estilo caras */
[class*="face-"] {
  box-shadow: 0 0 10px 0 #000;
  background: rgb(36, 36, 36);
  border: 5px solid #000;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  display: flex;
}

/* Cara 1 */
.face-1 {
  justify-content: center;
  align-items: center;
}

/* Cara 2 */
.face-2 {
  justify-content: space-between;
}

.face-2 .point:nth-child(2) {
  align-self: flex-end;
}

/* Cara 3 */
.face-3 {
  justify-content: space-between;
}

.face-3 .point:nth-child(2) {
  align-self: center;
}

.face-3 .point:nth-child(3) {
  align-self: flex-end;
}

/* Cara 4 */ 
.face-4 {
  justify-content: space-between;
}

.face-4 .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Cara 5 */
.face-5 {
  display: flex;
  justify-content: space-between;
}

.face-5 .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.face-5 .point--center {
  align-self: center;
}

/* Cara 6 */
.face-6 {
  display: flex;
  justify-content: space-between;
}

.face-6 .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Puntos estilo */
.point {
  width: 30px;
  height: 30px;
  background: #eee;
  border-radius: 50%;
}